*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    background:#000;
    overflow:hidden;
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
    font-family:Arial, sans-serif;
    color:white;
}

#stars{
    position:fixed;
    width:100%;
    height:100%;
    background:
    radial-gradient(white 1px, transparent 1px),
    radial-gradient(white 1px, transparent 1px);
    background-size:80px 80px;
    background-position:0 0,40px 40px;
    animation:starsMove 20s linear infinite;
    opacity:.7;
}

@keyframes starsMove{
    from{
        transform:translateY(0);
    }
    to{
        transform:translateY(-80px);
    }
}

#gift{
    font-size:90px;
    cursor:pointer;
    z-index:10;
    animation:float 2s ease-in-out infinite;
}

@keyframes float{
    0%,100%{
        transform:translateY(0);
    }
    50%{
        transform:translateY(-15px);
    }
}

#message{
    margin-top:20px;
    font-size:28px;
    letter-spacing:2px;
}
/* ========================= */
/* Bouquet */
/* ========================= */

#bouquet{display:none;
    position:absolute;
    bottom:80px;
    left:50%;
    transform:translateX(-50%);
}

.stem{
    position:absolute;
    width:6px;
    height:0;
    background:#3cb371;
    bottom:0;
    border-radius:10px;
    transform-origin:bottom;
    transition:height 4s ease;
}

.stem1{ left:-40px; }
.stem2{ left:0; }
.stem3{ left:40px; }

.flower{
    position:absolute;
    font-size:55px;
    opacity:0;
    transform:scale(0) rotate(-180deg);
    transition:transform 1.5s ease,
               opacity 1.5s ease;
}
   
.flower1{
    left:-58px;
    bottom:180px;
}

.flower2{
    left:-15px;
    bottom:220px;
}

.flower3{
    left:28px;
    bottom:180px;
}
.flower4{
    left:-90px;
    bottom:170px;
}

.flower5{
    left:75px;
    bottom:170px;
}

.flower6{
    left:-5px;
    bottom:270px;
}

.flower7{
    left:0px;
    bottom:150px;
}
.leaf{
    position:absolute;
    width:18px;
    height:10px;
    background:#2ecc71;
    border-radius:50%;
    opacity:0;
    transition:1s;
}

.leaf1{
    left:-55px;
    bottom:90px;
    transform:rotate(-35deg) scale(0);
}

.leaf2{
    left:12px;
    bottom:120px;
    transform:rotate(30deg) scale(0);
}

.leaf3{
    left:48px;
    bottom:90px;
    transform:rotate(35deg) scale(0);
}
.sparkle{
    position:absolute;
    width:6px;
    height:6px;
    border-radius:50%;
    background:white;
    box-shadow:0 0 15px white;
    animation:sparkle 2s infinite;
}

@keyframes sparkle{
    0%{
        opacity:0;
        transform:scale(0);
    }
    50%{
        opacity:1;
        transform:scale(1.5);
    }
    100%{
        opacity:0;
        transform:scale(0);
    }
}
