*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    background:#000;
    overflow:hidden;
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
    font-family:Arial, sans-serif;
    color:white;
}

#stars{
    position:fixed;
    width:100%;
    height:100%;
    background:
    radial-gradient(white 1px, transparent 1px),
    radial-gradient(white 1px, transparent 1px);
    background-size:80px 80px;
    background-position:0 0,40px 40px;
    animation:starsMove 20s linear infinite;
    opacity:.7;
}

@keyframes starsMove{
    from{
        transform:translateY(0);
    }
    to{
        transform:translateY(-80px);
    }
}

#gift{
    font-size:90px;
    cursor:pointer;
    z-index:10;
    animation:float 2s ease-in-out infinite;
}

@keyframes float{
    0%,100%{
        transform:translateY(0);
    }
    50%{
        transform:translateY(-15px);
    }
}

#message{
    margin-top:20px;
    font-size:28px;
    letter-spacing:2px;
}
/* ========================= */
/* Bouquet */
/* ========================= */

#bouquet{display:none;
    position:absolute;
    bottom:80px;
    left:50%;
    transform:translateX(-50%);
}

.stem{
    position:absolute;
    width:6px;
    height:0;
    background:#3cb371;
    bottom:0;
    border-radius:10px;
    transform-origin:bottom;
    transition:height 4s ease;
}

.stem1{ left:-40px; }
.stem2{ left:0; }
.stem3{ left:40px; }

.flower{
    position:absolute;
    font-size:55px;
    opacity:0;
    transform:scale(0) rotate(-180deg);
    transition:transform 1.5s ease,
               opacity 1.5s ease;
}
   
.flower1{
    left:-58px;
    bottom:180px;
}

.flower2{
    left:-15px;
    bottom:220px;
}

.flower3{
    left:28px;
    bottom:180px;
}
